.cardCarousel{
    &.dark{
        .text{
            h2{
                color: white;
            }
            p{
                color: gray;
            }
        }
    }
    .carousel-indicators{
        display: none;
    }
    .card{
        background:none;
        &.dark{
          .card-body{
            .card-text{
                color: white;
            }
            span{
                color: gray;
                font-weight: 700;
            }
          }
        }
    }
    .carousel-control-prev {
        background-color: black;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin-top: 140px;
        margin-left: 20px;
        
        .carousel-control-prev-icon{
            width: 20px;
            height: 20px;
        }
        
    }
    .carousel-control-next{
        background-color: black;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin-top: 140px;
        margin-right: 20px;
    }
    .carousel-control-next-icon{
        width: 20px;
        height: 20px;
    }
    .carousel-item{
        .card{
            position: relative;

            .CustomCarouselButton{
                position: absolute;
                bottom: 45%;
                right: 10%;
            }
        }
    }
}