.section3{
    background-color: white;
    &.dark{
        background: #1F2126;
        h2{
            color: white;
        }
    }
    .box{
        width: 220px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        p{
            position: absolute;
            color: rgb(253, 250, 250);
            font-weight: 500;
            font-size: 23px;
            left: 30%;
            bottom: 0%;
        }
    
        img{
            border-radius: 10px;
            width: 100%;
            transform: scale(1);
            transition: all 1s linear;
           
            &:hover{
                transform: scale(1.3); 
            }
        }
    }
}